.address {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // align-items: center;

  padding-top: 25px;

  &--notindex {
    background-color: $block-backgr-color;
  }
}

.address__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
}

.address__title {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  margin-left: 20px;
  // padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.address__description {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  margin-right: 20px;
  // padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $txt-color-arial;
}

.address__map {
  width: 100%;
  height: 365px;
  margin-top: 27px;

  & iframe {
    background: $block-backgr-color url("../img/bg-map-mobile@1x.png") no-repeat;
    background-size: 100% auto;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .address__map iframe {
    background: $block-backgr-color url("../img/bg-map-mobile@2x.png") no-repeat;
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {
  .address__description br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .address {
    padding-top: 62px;
  }

  .address__title {
    width: 160px;
    margin-left: 70px;

    font-size: 20px;
    line-height: 25px;
  }

  .address__description {
    width: 160px;
    margin-right: 70px;

    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .address__map {
    height: 400px;
    margin-top: 59px;

    & iframe {
      background: $block-backgr-color url("../img/bg-map-tablet@1x.png") no-repeat;
      background-size: 100% auto;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .address__map iframe {
      background: $block-backgr-color url("../img/bg-map-tablet@2x.png") no-repeat;
      background-size: 100% auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;

    padding-top: 0;
  }

  .address__container {
    position: absolute;
    justify-content: space-between;

    top: 97px;
    // left: 110px;
    // left: 7.6%;
    left: calc((100% - 1220px) / 2);
    box-sizing: border-box;
    width: 570px;

    padding: 63px 0;

    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // align-items: center;
    // background-color: red;
    background-color: $txt-color-alt;
  }

  .address__title {
    // margin: 65px 0;
    // width: 160px;
    margin-left: 75px;

    // font-size: 20px;
    // line-height: 25px;
  }

  .address__description {
    // width: 160px;
    margin-right: 83px;

    // font-size: 16px;
    // line-height: 20px;
    text-align: start;
  }

  .address__map {
    margin-top: 0;

    & iframe {
      background: $block-backgr-color url("../img/bg-map-desktop@1x.png") no-repeat;
      background-size: 100% auto;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .address__map iframe {
      background: $block-backgr-color url("../img/bg-map-desktop@2x.png") no-repeat;
      background-size: 100% auto;
    }
  }
}
