.faq {
  margin-top: 17px;
}

.faq__title {
  margin: 0 20px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.faq__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
  margin: 0 20px;
  margin-top: 7px;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $txt-color-arial;
}

.faq__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  &--ingredients::before {
    background: center $button-color url("../img/advantage-leaf@1x.png") no-repeat;
    background-size: 50px auto;
  }

  &--formula::before {
    background: center $button-color url("../img/advantage-powder@1x.png") no-repeat;
    background-size: 50px auto;
  }

  &--precept::before {
    background: center $button-color url("../img/advantage-dining@1x.png") no-repeat;
    background-size: 50px auto;
  }

  &--result::before {
    background: center $button-color url("../img/advantage-clock@1x.png") no-repeat;
    background-size: 50px auto;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .faq__item {
    &--ingredients::before {
      background: center $button-color url("../img/advantage-leaf@2x.png") no-repeat;
      background-size: 50px auto;
    }

    &--formula::before {
      background: center $button-color url("../img/advantage-powder@2x.png") no-repeat;
      background-size: 50px auto;
    }

    &--precept::before {
      background: center $button-color url("../img/advantage-dining@2x.png") no-repeat;
      background-size: 50px auto;
    }

    &--result::before {
      background: center $button-color url("../img/advantage-clock@2x.png") no-repeat;
      background-size: 50px auto;
    }
  }

  // .cover::before {
  //   background: top rgba(99, 167, 58, 1) url("../img/index-background-desktop@2x.jpg") no-repeat;
  //   background-size: 100% auto;
  // }
}

.faq__description {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px), (min-width: 1058px) and (max-width: $desktop-width) {
  .faq__description br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .faq {
    margin-top: 45px;
  }

  .faq__title {
    margin: 0 30px;

    font-size: 60px;
  }

  .faq__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 30px;

    font-size: 16px;
    line-height: 24px;
    counter-reset: list 0;
  }

  .faq__item {
    flex-direction: column;
    align-items: flex-start;

    width: 35%;
    margin-right: 10.5%;
    margin-top: 70px;
    margin-bottom: 30px;

    &::before {
      content: "";
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;

      width: 123px;
      height: 280px;
      top: 0;
      right: 10px;

      font-family: $font-stack;
      font-size: 280px;
      line-height: 202px;
      text-align: center;
      color: $block-backgr-color;

      z-index: -10;
    }

    &--ingredients::after {
      counter-increment: list;
      content: counter(list);
    }

    &--formula::after {
      counter-increment: list;
      content: counter(list);
    }

    &--precept::after {
      counter-increment: list;
      content: counter(list);
    }

    &--result::after {
      counter-increment: list;
      content: counter(list);
    }
  }

  .faq__description {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    width: 1300px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .faq__title {
    margin: 0 40px;
  }

  .faq__list {
    flex-wrap: nowrap;
    justify-content: space-between;

    margin: 0 40px;
  }

  .faq__item {
    flex-direction: column;
    align-items: flex-start;

    width: 245px;
    margin-right: 0;
    margin-top: 72px;
    margin-bottom: 30px;
  }
}
