.programs {
  width: 100%;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.programs__list {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.programs__item {
  margin: 0;
  margin-top: 20px;
  padding: 0 20px;
  padding-top: 30px;

  background-color: $block-backgr-color;
}

.programs__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-bottom: 10px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;

  --left: 2px;
  --bottom: 2px;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: var(--left);
    bottom: var(--bottom);
    vertical-align: middle;
    background: $button-color no-repeat;
    background-size: 50px auto;
  }

  &--slim::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 49px;
    left: calc(var(--left));
    bottom: calc(var(--bottom) + 4px);
    vertical-align: middle;
    background: url("../img/icon-cat-slim.svg") no-repeat;
    background-size: 50px 49px;
  }

  &--pro::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 67px;
    height: 50px;
    left: calc(var(--left) - 9px);
    bottom: calc(var(--bottom) + 1px);
    vertical-align: middle;
    background: url("../img/icon-cat-pro.svg") no-repeat;
    background-size: 67px 50px;
  }
}

.programs__description {
  margin: 0;
  margin-top: 20px;
  padding-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $txt-color-arial;

  border-bottom: 1px solid $border;
}

.programs__transition {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 22px;

  color: $primary-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    // opacity: $opacity-txt-hover;
  }

  &:active {
    opacity: $opacity-txt-down;
  }
}

@media (min-width: $tablet-width) {
  .programs__list {
    padding: 0 30px;
  }

  .programs__item {
    padding: 0 53px;
    padding-top: 77px;
    &:last-child {
      margin-top: 30px;
    }
  }

  .programs__title {
    padding-left: 0;
    padding-bottom: 0;

    font-size: 36px;
    line-height: 37px;

    --right: 8px;
    --top: 15px;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: auto;
      right: var(--right);
      top: var(--top);
    }

    &--slim::after {
      width: 200px;
      height: 200px;
      left: auto;
      right: calc(var(--right));
      top: calc(var(--top) - 10px);

      background-size: 200px 193px;
    }

    &--pro::after {
      width: 268px;
      height: 200px;
      left: auto;
      right: calc(var(--right) - 32px);
      top: calc(var(--top) - 0px);

      background-size: 268px 200px;
    }
  }

  .programs__description {
    margin-top: 25px;
    margin-right: 230px;
    margin-bottom: 38px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .programs__title--pro + .programs__description {
    margin-right: 260px;
  }


  .programs__transition {
    margin-bottom: 39px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1300px;
    // box-sizing: border-box;
    // max-width: 1300;
    margin: 0 auto;
    margin-top: 80px;
    // margin-top: 22px;
    // padding: 0;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;

    padding: 0 40px;
  }

  .programs__item {
    box-sizing: border-box;
    width: 570px;

    margin: 0;
    padding-top: 75px;

    &:last-child {
      margin-top: 0;
    }
  }

  .programs__title {
    padding-left: 160px;
    padding-bottom: 0;

    font-size: 36px;
    line-height: 37px;

    --top: -29px;
    --left: 0px;

    &::before {
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;

      left: var(--left);
      top: var(--top);
    }

    &--slim::after {
      width: 100px;
      height: 100px;

      left: calc(var(--left) - 1px);
      top: calc(var(--top) - 6px);

      background-size: 100px 97px;
    }

    &--pro::after {
      width: 134px;
      height: 100px;
      left: calc(var(--left) - 19px);
      top: calc(var(--top) - 1px);

      background-size: 134px 100px;
    }
  }

  .programs__description {
    margin-top: 75px;
    margin-right: 0;
    margin-bottom: 13px;
  //   padding-bottom: 0;

  //   font-size: 16px;
  //   line-height: 24px;

  //   border-bottom: none;
  }

  .programs__title--pro + .programs__description {
    margin-right: 0;
  }
}
