.social {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  width: 100%;
  // width: auto;
  padding: 22px 0;

  font-size: 0;
}

.social__item {
  margin: 0 17px;
}

.social__link {
  display: block;
  width: 25px;

  cursor: pointer;

  fill: $icon-social-color;

  &:hover {
    fill: $button-color;
  }

  &:active {
    fill: $button-color;
    opacity: $opacity-txt-down;
  }
}

.social__vk,
.social__insta,
.social__fb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .social {
    width: auto; // Почему без этого свойства не сжимается?
    padding: 0;
  }

  .social__item {
    margin: 0 14px;
  }

  .social__link {
    width: auto;
  }

  .social__vk {
    width: 30px;
    height: auto;
  }

  .social__insta {
    width: 23px;
    height: auto;
  }

  .social__fb {
    width: 15px;
    height: auto;
  }
}
