$font-stack: "Oswald", "Arial", sans-serif;
$primary-color: #111111;
$txt-color-alt: white;
$txt-color-arial: #444444;
$button-color: #68b738;
$button-color-hover: #5eaa2f;
$opacity-txt-hover: 0.6;
$opacity-txt-down: 0.3;
$block-backgr-color: #f2f2f2;
$border: #d9d9d9;
$icon-social-color: #666666;
